body {
  background-color: #222f3e;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 42px;
  margin: 5px;
}

h3 {
  font-size: 32px;
  margin: 5px;
}

.header {
  height: 100px;
}

.rotate {
  transform: rotate(90deg);
  margin: 200px auto;
}



.image {
  display: block;
  margin: 0 auto;
  border: #8395a7 15px solid;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
